.prose[data-v-28adff7a]{max-width:none}.prose p[data-v-28adff7a],.prose ul[data-v-28adff7a]{margin-bottom:1rem}.prose ul[data-v-28adff7a]{list-style-type:disc;margin-left:1.5rem}.prose li[data-v-28adff7a]{margin-bottom:.5rem}
