.page-enter-active[data-v-d28e7bd1],.page-leave-active[data-v-d28e7bd1]{transition:all .3s ease}.page-enter-from[data-v-d28e7bd1]{opacity:0;transform:translate(100%)}.page-leave-to[data-v-d28e7bd1]{opacity:0;transform:translate(-100%)}
