.page-enter-active[data-v-b2f2520b],.page-leave-active[data-v-b2f2520b]{transition:all .3s ease}.page-enter-from[data-v-b2f2520b]{opacity:0;transform:translate(100%)}.page-leave-to[data-v-b2f2520b]{opacity:0;transform:translate(-100%)}
